<!DOCTYPE html>
<html>
<head>
  <title>TimeTrack</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="user_nav">
		<%= render 'shared/login' %>
  	<%= render 'devise/shared/login_items' %>
  	<%= render 'devise/shared/registration_items' %>
	</div>
<%= yield %>

</body>
</html>
